
.navbar-expand-lg .navbar-collapse{
  display: flex;
  justify-content: flex-end;
}
a.nav-link.active {
  font-size: 18px;
  color: rgb(198, 206, 212);
}
a.navbar-brand{
  color: white;
  font-size: 22px;
}
nav{
 
  position: relative;
  z-index: 2;
}
.home
{
  background-image: url(../img/image.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center center;
  position: relative;
}
.home::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  
  inset: 0;
  background-color: rgba(0, 0,0,0.6);
}